/* font @import */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Meow+Script&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Kalam:wght@300&family=Meow+Script&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=IBM+Plex+Mono&family=Kalam:wght@300&family=Meow+Script&family=Space+Mono&display=swap');

:root {
  /* css variables with theme colors,
    names have to start with "--" */
  --background: #f0e6d6;
}

body {
  background: var(--background);
    padding: 20px;
}

body h1 {
  font-family: 'Meow Script', cursive, sans-serif;
  font-size:calc(12px + 5vw);
}

#inputs {
  width: 100%;
  max-width: 400px;
  padding-bottom: 20px;
}

label, input, select, textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

input, select, textarea {
  font-family: 'IBM Plex Mono', monospace;
}

label {
  text-transform: lowercase;
  font-family: 'Kalam', cursive, sans-serif;
  letter-spacing: 2px;
  margin-bottom: 3px;
}

textarea {
  resize: none;
  height: 50px;
}

input, select {
  height: 30px;
  font-size: 1rem;
}

#card {
  width: 500px;
  background: blueviolet;
  padding: 5px;
  text-align: center;
}

#chosen-image {
  width: 400px;
  object-fit: cover;
}

